.titulo-2{
  color: #fff;
}
.subtitulo-2{
  font-weight: 100;
}

.rowMain{
  background-image: url(https://www.segurosimple.com/pe/assets/images/1-home.png);
  background-size: cover;
  background-repeat: no-repeat;
}