<div class="card hoverable z-depth-4">

    <div class="card-content">
        <span class="card-title"> 
                    <h5 class="header center pink-text">
                        <i class="small material-icons">thumb_up</i> 
                        Confirmación
                    </h5>
                </span>
        <div class="row">
            <p class="indigo-text" autofocus>
                Tu compra se realizó con éxito!
            </p>
            
            <p class="indigo-text">
                Código de verificación <strong>WXDYZS</strong>
            </p>
            <p class="indigo-text">
                Recibirás tu certificado SOAT y comprobante de pago en tu correo electrónico: <strong>jperez@globalrisk.pe</strong>
            <a href="docs/SOAT_ELECTRONICO.pdf">Ver Poliza</a>
            </p>
           
        </div>
    </div>
    <div class="card-action">
        <a href="#/" class="pink-text" >Ok</a>
    </div>


</div>

    