<div class="card hoverable z-depth-4">
  
    <div class="card-content">
        <span class="card-title"> 
                    <h3 class="header center">
                        <i class="medium material-icons hide-on-small-only">lock</i> SOAT Online
                    </h3>
                </span>
        <div class="row center">
            <h5 class="header light">
                Tu mejor opción a la hora de comprar tu SOAT con total seguridad.
            </h5>
        </div>
        <div class="row center">
            <h6 class="header light">
                presentacion de Arrow Tec y Global TPA
                 

                
            </h6>
        </div>

        <div class="row center">
            <a href="#/form" class="btn-large waves-effect waves-light blue darken-4 pulse">Comprar ahora</a>
        </div>
    </div>
    <div class="card-action">
        <a href="#/search" class="pink-text">Ya tengo mi SOAT</a>
    </div>

</div>