<div class="card hoverable z-depth-4">

    <div class="card-content">
        <span class="card-title"> 
                    <h5 class="header center pink-text">
                        <i class="small material-icons">check</i> 
                        Verifica los datos de tu vehículo
                    </h5>
                </span>
        <div class="row" autofocus>
            <table class="bordered">
                <tbody>
                    <tr>
                        <th>Placa</th>
                        <td>C8V917</td>
                    </tr>
                    <tr>
                        <th>Modelo</th>
                        <td>Amarok 4x4 Trendline</td>
                    </tr>
                    <tr>
                        <th>Tipo</th>
                        <td>Pick-up</td>
                    </tr>
                    <tr>
                        <th>Año</th>
                        <td>2011</td>
                    </tr>
                    <tr>
                        <th>Uso</th>
                        <td>Particular</td>
                    </tr>
                    <tr>
                        <th>Ubicación</th>
                        <td>Lima</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-action">
        <a href="#/validity" class="pink-text">Continuar</a>
    </div>
</div>