<div class="card hoverable z-depth-4">

    <div class="card-content">
        <span class="card-title"> 
                    <h6 class="header center pink-text">
                        <i class="tiny material-icons">mail</i> 
                        Ingresa tu correo electrónico
                    </h6>
                </span>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="icon_prefix" type="email" class="validate" autofocus>
                <label for="icon_prefix">Correo</label>
            </div>
            <div class="row">
                <div class="col s1">
                    <i class="small material-icons">priority_high</i>
                </div>
                <div class="col s11 pink-text">
                    Enviaremos tu comprobante de pago y tu certificado SOAT a tu correo electrónico
                </div>
            </div>
        </div>
    </div>
    <div class="card-action">
        <a href="#/purchase" class="pink-text">Confirmar</a>
    </div>
</div>