<div class="card hoverable z-depth-4">

    <div class="card-content">
        <span class="card-title" autofocus> 
                    <h6 class="header center pink-text">
                        <i class="tiny material-icons">lock</i> 
                        Precio Online Disponible
                    </h6>
                </span>
        <div class="row">
           
   
    <p> <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        
          <div class="container center"> 
              <img src="https://www.crecerseguros.pe/Content/userfiles/images/logo-crecer-azul.png"  >   
              <h5>Prima Anual</h5>
             <h4> <b>S/. 85.00 </b> </h4>
             <h6>(inc. IGV)</h6>
            <div >  <a >
                <a class=" btn waves-effect waves-light pulse  blue darken-4 ">Detalles</a>

            </a>
            </div>
    </a>
             

        </div>
      
          
            
     </div>
      <div class="collapsible-body"><span>
         
    <div class="row">
    
    



     <table class="bordered">
            <tr>
                <td><b>  Cobertura</td>
                <td><b> Suma Asegurada por Persona</td>
            </tr>                  
             <tr>
                <td  >Muerte Accidental</td>
                <td  >Hasta 4 UIT </td>
             </tr>  
             <tr>
                <td  >Invalidez Permanente</td>
                <td  >hasta 1 UIT </td>
             </tr>  
             <tr>
                <td  >Incapacidad Temporal </td>
                <td  >hasta 5 UIT </td>
             </tr>  
              
            
            
        </table>
    </div>

    </span></div>
    </li>
     
  </ul></p>
 


        </div>
    </div>
    <div class="card-action">
        <a href="#/mail" class="pink-text">Continuar</a>
    </div>
</div>

<script>
    $(function () {
        $('select').material_select();
    });

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>