<div class="card hoverable z-depth-4">

    <div class="card-content">
        <span class="card-title"> 
                    <h6 class="header center pink-text">
                        <i class="tiny material-icons">local_atm</i> 
                        Pagar
                    </h6>
                </span>
        <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">credit_card</i>
                <input id="Tarjeta" type="text" class="validate" autofocus>
                <label for="Tarjeta">Tarjeta</label>
               
             </div>

               <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">date_range</i>
                <input id="Tarjeta" type="text" class="validate">
                <label for="Tarjeta">Fecha</label>
               
             </div>
             <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">refresh</i>
                <input id="Tarjeta" type="text" class="validate">
                <label for="Tarjeta">CCV</label>
               
             </div>
            <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">face</i>
                <input id="Tarjeta" type="text" class="validate">
                <label for="Tarjeta">Nombre Titular</label>
               
             </div>
        </div>
             
    </div>
    <div class="card-action">
        <a href="#/confirm" class="pink-text">Pagar</a>
    </div>
</div>