<div class="card hoverable z-depth-4">

    <div class="card-content">
        <span class="card-title"> 
                    <h5 class="header center pink-text">
                        <i class="small material-icons">search</i> 
                        Ingresa la placa de tu vehículo
                    </h5>
                </span>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">directions_car</i>
                <input id="icon_prefix" type="text" class="validate" autofocus>
                <label for="icon_prefix">Placa</label>
            </div>

        </div>
    </div>
    <div class="card-action">
        <a href="#/info" class="pink-text">Continuar</a>
    </div>
</div>