<div class="card hoverable z-depth-4">

    <div class="card-content">
        <span class="card-title"> 
                    <h5 class="header center pink-text">
                        <i class="small material-icons">today</i> 
                        Ingresa el inicio de vigencia
                    </h5>
                </span>
        <div class="row">
            <div class="row">

                <div class="input-field col s12">
                    <i class="material-icons prefix">today</i>
                    <input id="icon_prefix" type="text" class="datepicker" autofocus>
                    <label for="icon_prefix">Inicio de vigencia</label>
                </div>
                <div class="col s1">
                    <i class="small material-icons">priority_high</i>
                </div>
                <div class="col s11 pink-text">
                    El ultimo SOAT activo que tenemos registrado para la placa C8V917 vence el 31/01/2018
                </div>
            </div>
        </div>
    </div>
    <div class="card-action">
        <a href="#/mail" class="pink-text">Continuar</a>
    </div>
</div>

<script>
    $(function () {
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    });

</script>